<div class="container">
      <div class="login">DADOS CADASTRAIS DO MÉDICO</div>
          <form>
                   <div class="usuario" >
                      <label>Médico:</label>
                      <input  type="text" id="medico"  name="cliente"><!--[(ngModel)]="medico.medico" -->
                  </div>

                  <div class="usuario" >
                      Nro Médico:
                      <input  type="text" id="nroMedico" name="nroMedico">
                  </div>

                  <div class="usuario" >
                      Foto Do Medico:
                      <input  type="text" id="fotoDoMedico" name="fotoDoMedico">
                  </div>

                  <div class="usuario" >
                      Telefone:
                      <input  type="text" id="telefone"  name="telefone">
                  </div>

                  <div class="usuario" >
                      e-mail:
                      <input type="text" id="email"  name="email">
                  </div>

                  <div class="usuario" >
                      <button class="salvar" (click)="salvar()" >Salvar</button>
                      <button class="voltar"(click)="cancelar()">Cancelar</button>
                  </div>
          </form>
</div>
