<div class="container">

  <div class="dadospessoais">

    Nome: {{usuario.name}}<br>
    Username(email):{{usuario.username}}<br>
    CPF:{{usuario.cpf}}<br>
    Telefone:{{usuario.telefone}}<br>
    Especialidade:{{usuario.especialidade}}<br><br><br>

    BOTÃO ABAIXO EM DESENVOLVIMENTO
    <button>Alterar Dados Pessoais</button><br><br><br>

  </div>

  <div class="dadosBancarios">

  Banco:{{usuario.contaBancariaID.banco}}<br>
  Agencia:{{usuario.contaBancariaID.agencia}}<br>
  Conta:{{usuario.contaBancariaID.conta}}<br>
  Tipo:{{usuario.contaBancariaID.tipo}}<br>
  CPF:{{usuario.contaBancariaID.cpf}}<br><br><br>

  BOTÃO ABAIXO EM DESENVOLVIMENTO
  <button>Alterar Dados Bancários</button>

  </div>

</div>
