<div class="container">
  <table>
    <tr>
      <th>NR DO PLANTÃO</th>
      <th>DATA</th>
      <th>DIA DA SEMANA</th>
      <th>PERÍODO</th>
      <th>MÉDICO </th>
      <th>SETOR</th>
      <th>STATUS</th>
      <th>TROCA</th>

    </tr>
    <ng-container *ngFor = "let plantao of dashBoardPlantoes ">
      <tr>
        <td class="diaSemana">{{plantao.id}}</td>
        <td class="diaSemana">{{plantao.data |date : 'dd/MM/yyyy'}}</td>
        <td class="diaSemana">{{plantao.diaDaSemana}}</td> <!-- ADICIONAR PIPE PARA DATA VIRAR DIA DA SEMANA -->
        <td class="diaSemana">{{plantao.periodo.periodo}}</td>
        <td class="diaSemana">{{plantao.user.name}}</td>
        <td class="diaSemana">{{plantao.setor.setores}}</td>
        <td [ngClass]="{
          'cor1': plantao.status.status =='CONFIRMADO',
          'cor2': plantao.status.status =='RECOLOCAR',
          'cor3': plantao.status.status =='ALTERADO',
          'cor4': plantao.status.status =='REALIZADO',
          'cor5': plantao.status.status =='PAGO'
         }">{{plantao.status.status}}</td>
         <td class="diaSemana"><button class="cor2" (click)="aceitar(plantao.id)">ACEITAR PLANTÂO</button></td>



      </tr>
    </ng-container>

  </table>

</div>
