<div class="header">
  <div class="logo">
    <a href="http://localhost:4200/"><img src="../../../assets/img/Logo.png"></a>

  </div>

  <div class="voltar">
    <button (click)="voltar()">Voltar</button>
  </div>

  <div class="admin">
    PLANTOES
  </div>

</div>

<div class="setores">
  <h3>Selecionar Setor Desejado</h3>
  <select [(ngModel)]="setor" (change)="Selecionado()">
    <option value="">Selecionar</option>
    <option value="UTI 1">UTI 1</option>
    <option value="UTI 2">UTI 2</option>
  </select>
</div>


<div class="container" *ngIf="selecionado">



  <div class="dataContainer" >
      <div>
      <h3>Selecionar as Datas Desejadas</h3>
          <label>Data Inicial</label>
          <input type="date" placeholder="Data Inicial" name="dataInicial" [(ngModel)]="dataInicial">
          <label>Data Final</label>
          <input type="date" placeholder="Data Final" name="dataFinal" [(ngModel)]="dataFinal">
    </div>

  </div>
  <br>

  <br>
  <table>
    <tr>
      <th>DATA</th>
      <th>DIA DA SEMANA</th>
      <th>PERÍODO</th>
      <th>MÉDICO </th>
      <th>SETOR</th>
      <th>STATUS</th>

    </tr>
    <ng-container *ngFor = "let plantao of plantoes ">
    <ng-container *ngIf="plantao.setoresID.setores === setor">
      <tr *ngIf="plantao.data >=dataInicial && plantao.data <=dataFinal">
        <td class="diaSemana">{{plantao.data |date : 'dd/MM/yyyy'}}</td>
        <td class="diaSemana">{{plantao.diaDaSemana}}</td> <!-- ADICIONAR PIPE PARA DATA VIRAR DIA DA SEMANA -->
        <td class="diaSemana">{{plantao.periodoID.periodo}}</td>
        <td class="diaSemana">{{plantao.userID.nome}}</td>
        <td class="diaSemana">{{plantao.setoresID.setores}}</td>
        <td [ngClass]="{
          'cor1': plantao.statusDoPlantaoID.status =='CONFIRMADO',
          'cor2': plantao.statusDoPlantaoID.status =='RECOLOCAR',
          'cor3': plantao.statusDoPlantaoID.status =='ALTERADO',
          'cor4': plantao.statusDoPlantaoID.status =='REALIZADO',
          'cor5': plantao.statusDoPlantaoID.status =='PAGO'
         }">{{plantao.statusDoPlantaoID.status}}</td>



      </tr>
      </ng-container>
    </ng-container>

  </table>



</div>

