<div class="header">
  <div class="logo">
    <a href="http://localhost:4200/"><img src="../../../assets/img/Logo.png"></a>

  </div>

  <div class="voltar">
    <button (click)="voltar()">Voltar</button>
  </div>

  <div class="admin">
    PLANTOES
  </div>

</div>

<div class="setores">
  <h3>Selecionar Setor Desejado</h3>
  <select [(ngModel)]="setor" (change)="Selecionado()">
    <option value="">Selecionar</option>
    <option value="UTI 1">UTI 1</option>
    <option value="UTI 2">UTI 2</option>
  </select>
</div>

<div class="container" *ngIf="selecionado">

  <div class="dataContainer">
    <div>
      <h3>Selecionar as Datas Desejadas</h3>
      <label>Data Inicial</label>
      <input type="date" placeholder="Data Inicial" name="dataInicial" [(ngModel)]="dataInicial">
      <label>Data Final</label>
      <input type="date" placeholder="Data Final" name="dataFinal" [(ngModel)]="dataFinal">
    </div>

  </div>
  <br>

  <br>
  <table>
    <tr>
      <th>DATA</th>
      <th>DIA DA SEMANA</th>
      <th>PERÍODO</th>
      <th>MÉDICO </th>
      <th>SETOR</th>
      <th>STATUS</th>

    </tr>
    <ng-container *ngFor="let plantao of plantoes ">
      <ng-container *ngIf="plantao.setor.setores === setor">
        <tr *ngIf="plantao.data >=dataInicial && plantao.data <=dataFinal">
          <td class="diaSemana">{{plantao.data |date : 'dd/MM/yyyy'}}</td>
          <td class="diaSemana">{{plantao.diaDaSemana}}</td> <!-- ADICIONAR PIPE PARA DATA VIRAR DIA DA SEMANA -->
          <td class="diaSemana">{{plantao.periodo.periodo}}</td>
          <td class="diaSemana">{{plantao.user.name}}</td>
          <td class="diaSemana">{{plantao.setor.setores}}</td>
          <td [ngClass]="{
          'cor1': plantao.status.status =='CONFIRMADO',
          'cor2': plantao.status.status =='RECOLOCAR',
          'cor3': plantao.status.status =='ALTERADO',
          'cor4': plantao.status.status =='REALIZADO',
          'cor5': plantao.status.status =='PAGO'
         }">{{plantao.status.status}}</td>
        </tr>
      </ng-container>
    </ng-container>

  </table>

</div>
