<div class="container">

  <div class="voltar">
      <button (click)="voltar()">Voltar</button>
  </div>

  <div class="dataContainer">
      <div>
      <h3>Selecionar as Datas Desejadas</h3>
          <label>Data Inicial</label>
          <input type="date" placeholder="Data Inicial" name="dataInicial" [(ngModel)]="dataInicial">
          <label>Data Final</label>
          <input type="date" placeholder="Data Final" name="dataFinal" [(ngModel)]="dataFinal">
    </div>
  </div>

  <table>
    <tr>
      <th>DATA</th>
      <th>DIA DA SEMANA</th>
      <th>MANHÃ</th>
      <th>TARDE</th>
      <th>NOITE</th>
    </tr>
    <ng-container *ngFor = "let plantao of plantoes ">
      <tr>
        <td class="diaSemana">{{plantao.data |date : 'dd/MM/yyyy'}}</td>
        <td class="diaSemana">{{plantao.diaDaSemana}}</td> <!-- ADICIONAR PIPE PARA DATA VIRAR DIA DA SEMANA -->
        <td class="diaSemana">{{plantao.diaDaSemana}}</td>
        <td class="diaSemana">{{plantao.diaDaSemana}}</td>
        <td class="diaSemana">{{plantao.diaDaSemana}}</td>


      </tr>
    </ng-container>

  </table>



</div>

