  <div class="container">

  <div class="titulo">
     <h3>Cadastrar Novo Usuário</h3>
  </div>

  <form class="form1">
    <div class="login">
      <h2>Dados Pessoais</h2>
    <div class="usuario">
      <label>Nome:</label>
      <input type="text" class="text" placeholder="Ex: João da Silva" name="name" [(ngModel)]="usuario.name">
    </div>

    <div class="usuario">
      <label>CPF:</label>
      <input type="text" class="text" placeholder="Ex: 36895478920" name="cpf" [(ngModel)]="usuario.cpf">
    </div>

    <div class="usuario">
      <label>Telefone:</label>
      <input type="text" class="text" placeholder="Ex: +55 11 997825784" name="telefone" [(ngModel)]="usuario.telefone">
    </div>

    <div class="usuario">
      <label>Especialidade:</label>
      <input type="text" class="text" placeholder="Ex: Cardiologista" name="especialidade" [(ngModel)]="usuario.especialidade">
    </div>

    <div class="usuario">
      <label>Email:</label>
      <input type="email" class="inputemail" placeholder="Ex: name@example.com" name="email" [(ngModel)]="usuario.username">
     </div>

    <div class="usuario">
      <label>Senha:</label>
      <input type="password" class="inputpassword" name="userPassword" [(ngModel)]="usuario.password">
    </div>

    <div class="usuario">
        <label for="profissoes">Selecionar Profissão:</label>
          <select [(ngModel)]="usuario.role" class="selectFuncao" name="profissao" >
              <option [ngValue]="undefined">-- Selecionar --</option>
              <option  [ngValue]="medico">Medico</option>
              <option  [ngValue]="admin">Admin</option>
              <option  [ngValue]="admin">Financeiro</option>

          </select>
    </div>
  </div>

  <div class="dadosbancarios">

   <h2> Dados Bancarios:</h2>

    <div class="usuario">
      <label>Banco:</label>
      <input type="password" class="inputpassword" name="userPassword" [(ngModel)]="conta.banco">
    </div>
    <div class="usuario">
      <label>Agencia:</label>
      <input type="password" class="inputpassword" name="userPassword" [(ngModel)]="conta.agencia">
    </div>
    <div class="usuario">
      <label>Conta:</label>
      <input type="password" class="inputpassword" name="userPassword" [(ngModel)]="conta.conta">
    </div>
    <div class="usuario">
      <label>Tipo:</label>
      <input type="password" class="inputpassword" name="userPassword" [(ngModel)]="conta.tipo">
    </div>

  </div>


  </form>
<div class="botao">

   <button type="button" class="bt1"(click)="cadastrar()">Registrar</button>
   <button class="voltar" (click)="voltar()">Voltar</button>

</div>

</div>
