.header{
  background-color: var(--cor-bg-header);
  height: 80px;
  width: 100%;
  align-items: center;
  display: flex;
}
.logo{
  background-color: var(--cor-bg-header);
  margin-top: 8px;
  margin-left: 30px;

}
.logo img{
  width: 22%;
  border-radius: 10px;
  background-color: var(--cor-bg-header);
}
.container{
  margin: auto;
  margin-top: 5%;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: var(--cor-bg-header);
  width: 25%;

  flex-direction: column;
  padding: 10px;
  color: var(--cor-branca);
  font-weight: bold;
  font-size: 19px;
}
.login{
  background: none;
}
form{
  background: none;
  margin: 5%;
}
button{
  background-color: var(--cor-button1);
  padding: 10px;
  margin: auto;
  margin-top: 25px;
  border: none;
  border-radius: 15px;
  width: 150px;
  font-weight: bold;
  font-size: 16px;
  margin: ;
}
label{
  background: none;
}
h3{
  background: none;
  margin-bottom: 5px;
}
input{
  margin-bottom: 10px;
  padding: 8px;
  width: 95%;
}
select{
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  font-size: 16px;
}
.voltar{
  background-color: var(--cor-button2);
  margin-left: 10px;
}
a{
  background: none;
}
