<div class="header">
  <div class="logo">
    <a href="http://localhost:4200/"><img src="../../../assets/img/Logo.png"></a>
  </div>
</div>
  <div class="container">
  <div class="login">
     <h3>Realizar Login </h3>
  </div>

  <div class="form1" >
    <div class="form1">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            Usuário:
            <input type="text"
            ngModel
            name="userName"
            id="userName"
            placeholder="Digite seu e-mail"

            >
            Senha:
            <input type="password"
            ngModel
            name="userPassword"
            id="userPassword"
            placeholder="Digite sua Senha"

            >

            <input  class="botao"type="submit"
            value="Login"
           >
        </form>
    </div>
</div>
